body {
	font-family: 'Jost', sans-serif;
	background-color: #111;
}

main {
	text-align: center;
	position: relative;
	padding: 0 15px;
	height: 100vh;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

h1 {
	font-family: 'Bad Script', monospace, sans-serif;
	margin: 0;
	margin-bottom: 35px;
	font-size: 52px;
	color: #fff;
}

.rect {
	width: 400px;
	height: 400px;
	border: 2px solid #af8;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -200px;
	top: 0;
	animation: trf 4s ease-in-out infinite;
}

.rect_2 {
	width: 400px;
	height: 400px;
	border: 2px solid aqua;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: -200px;
	left:  0px;
	animation: trf 4s ease-in-out infinite;
}

span {
	font-size: 22px;
	display: block;
	color: #bbb;
	margin-bottom: 30px;
	color: #af8;
}

a[download] {
	display: inline-block;
	text-decoration: none;
	border: 2px solid #af8;
	padding: 10px 15px;
	font-size: 18px;
	color: #fff;
	letter-spacing: 0.4px;
	-webkit-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}

a[download]:hover  {
	color: #af8;
}



@keyframes trf {
	0% {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	100% {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}


@media (max-width: 1496px) {
	.rect {
		left: 50%;
		-webkit-transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		-o-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
		top: -340px;
		animation: auto;
	}

	.rect_2 {
		left: 50%;
		-webkit-transform: translateX(-50%) rotate(45deg);
		-ms-transform: translateX(-50%) rotate(45deg);
		-o-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
		bottom: -340px;
		animation: auto;
	}
}

@media (max-width: 960px) {
	h1 {
		font-size: 40px;
		margin-bottom: 25px;
	}
	span {
		font-size: 20px;
	}

}


@media (max-width: 740px) {
	h1 {
		font-size: 32px;
		line-height: 1.4;
	}

	span {
		font-size: 18px;
		line-height: 1.55;
	}

	a[download] {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 30px;
	}
	span {
		font-size: 16px;
	}
	a[download] {
		font-size: 14px;
	}
}


@media (max-height: 596px) {
	.rect {
		top: -400px;
	}
	.rect_2 {
		bottom: -400px;
	}
}


z